export POSTGRES_PASSWORD=$(secret-tool lookup type "PASS" context "POSTGRES PASSWORD" content POSTGRES_PASSWORD)
export FERNET_PASSWORD=$(secret-tool lookup type "PASS" context "FERNET PASSWORD" content FERNET_PASSWORD)

use flake path:.
