VERSION=1.2
USER_DB=tablemind_user
NAME_DB=tablemind
PASS_DB=123
MAIL_DB=test@example.com

PORT_FRNT=4001
PORT_BACK=4002
PORT_PGAD=4003

BASE_UPLOAD_DIR=/app/uploads

PASS_ROOT_USER=12323353sr
KEY_FERNET_ENCRYPTION=OjJYeIwCPEbpCBLT_ygh-2cLTOzIsgQ4mkTN5rx4lMo=
KEY_API_GEMINI=OjJYeIwCPEbpCBLT_ygh-2cLTOzIsgQ4mkTN5rx4lMo=
